sharepoint/wsdl/sp2003/UserProfileService.wsdl

<definitions xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService">
      <s:import namespace="http://microsoft.com/wsdl/types/"/>
      <s:element name="GetUserProfileByIndex">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="index" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserProfileByIndexResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserProfileByIndexResult" type="s0:GetUserProfileByIndexResult"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetUserProfileByIndexResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NextValue" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="UserProfile" type="s0:ArrayOfPropertyData"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPropertyData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PropertyData" nillable="true" type="s0:PropertyData"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="PropertyData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserProfileByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserProfileByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserProfileByNameResult" type="s0:ArrayOfPropertyData"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserProfileByGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="guid" type="s1:guid"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserProfileByGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserProfileByGuidResult" type="s0:ArrayOfPropertyData"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserProfileSchema">
        <s:complexType/>
      </s:element>
      <s:element name="GetUserProfileSchemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserProfileSchemaResult" type="s0:ArrayOfPropertyInfo"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPropertyInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PropertyInfo" nillable="true" type="s0:PropertyInfo"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="PropertyInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string"/>
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </types>
  <message name="GetUserProfileByIndexSoapIn">
    <part name="parameters" element="s0:GetUserProfileByIndex"/>
  </message>
  <message name="GetUserProfileByIndexSoapOut">
    <part name="parameters" element="s0:GetUserProfileByIndexResponse"/>
  </message>
  <message name="GetUserProfileByNameSoapIn">
    <part name="parameters" element="s0:GetUserProfileByName"/>
  </message>
  <message name="GetUserProfileByNameSoapOut">
    <part name="parameters" element="s0:GetUserProfileByNameResponse"/>
  </message>
  <message name="GetUserProfileByGuidSoapIn">
    <part name="parameters" element="s0:GetUserProfileByGuid"/>
  </message>
  <message name="GetUserProfileByGuidSoapOut">
    <part name="parameters" element="s0:GetUserProfileByGuidResponse"/>
  </message>
  <message name="GetUserProfileSchemaSoapIn">
    <part name="parameters" element="s0:GetUserProfileSchema"/>
  </message>
  <message name="GetUserProfileSchemaSoapOut">
    <part name="parameters" element="s0:GetUserProfileSchemaResponse"/>
  </message>
  <portType name="UserProfileServiceSoap">
    <operation name="GetUserProfileByIndex">
      <input message="s0:GetUserProfileByIndexSoapIn"/>
      <output message="s0:GetUserProfileByIndexSoapOut"/>
    </operation>
    <operation name="GetUserProfileByName">
      <input message="s0:GetUserProfileByNameSoapIn"/>
      <output message="s0:GetUserProfileByNameSoapOut"/>
    </operation>
    <operation name="GetUserProfileByGuid">
      <input message="s0:GetUserProfileByGuidSoapIn"/>
      <output message="s0:GetUserProfileByGuidSoapOut"/>
    </operation>
    <operation name="GetUserProfileSchema">
      <input message="s0:GetUserProfileSchemaSoapIn"/>
      <output message="s0:GetUserProfileSchemaSoapOut"/>
    </operation>
  </portType>
  <binding name="UserProfileServiceSoap" type="s0:UserProfileServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="GetUserProfileByIndex">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetUserProfileByIndex" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetUserProfileByName">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetUserProfileByName" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetUserProfileByGuid">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetUserProfileByGuid" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetUserProfileSchema">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetUserProfileSchema" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="UserProfileService">
    <documentation>User Profile Service</documentation>
    <port name="UserProfileServiceSoap" binding="s0:UserProfileServiceSoap">
      <soap:address location="http://172.25.234.129/_vti_bin/UserProfileService.asmx"/>
    </port>
  </service>
</definitions>